.container{
    background-color: #ffffff;
    color: #000000;
    min-height: 400px;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
}
.logo{
    position: absolute;
    top: -8%;
    right: 24%;
    transform: translate(50%,-50%);
}