.container{
    background-color: #ffffff;
    border-radius: 24px;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.flexContainer{
    background-color: #ffffff;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    padding: 15px;
}
.logo{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
}
.logoSlide{
    animation: slideUp;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.result{
    color: #1D355D;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.scoreText{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #1D355D;
}
.resultText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.score{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
    color: #26975f !important;
    font-size: 36px !important;
}
.btn{
    margin-top: 300px;
    padding: 10px 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #1D355D;
    color: #1D355D;
    line-height: 1.5;
    transition: background-color 330ms ease-in;
}
.btnNoMargin{
    margin-top: 0px;
}
.btnFade{
    animation: fadeDown;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.btn:hover, .btn:focus{
    outline: none;
    background-color: #F9A826;
    border-color: #F9A826;
    color: #1D355D;
    cursor: pointer;
}

@keyframes slideUp {
    to{
        top: -8%;
        right: 24%
    }
}
@keyframes fadeDown{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
        transform: translateY(100);
    }
    100%{
        opacity: 0;
        transform: translateY(300);
        display: none;
    }
}