*{box-sizing: border-box;}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background: url('http://localhost:3000/static/media/background.41dbc550.png') no-repeat;
  background-size: cover;
  background-color: #5256A1;
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container{
  padding: 15px;
  width: 400px;
  min-width: 300px;
  max-width: 400px;
}
h1{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin: 0;
}
footer{
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.no-hover{
  pointer-events: none;
}
.is-good{
  background: #60BF88 !important;
  border: 2px solid#60BF88 !important;
  color: #ffffff !important;
}
.is-bad{
  background: #EA8282 !important;
  border: 2px solid#EA8282 !important;
  color: #ffffff !important;
}
.show{
  animation: pulse 0.3s linear 1;
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}